.wrapper html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.wrapper body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: #4a4a4a;
  background-color: #f9f9f9;
  padding: 13px;
}

@media (max-width: 684px) {
  .wrapper body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  .wrapper body {
    font-size: 1.35rem;
  }
}

.wrapper h1, 
.wrapper h2, 
.wrapper h3, 
.wrapper h4, 
.wrapper h5, 
.wrapper h6 {
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

.wrapper h1 {
  font-size: 2.35em;
}

.wrapper h2 {
  font-size: 2em;
}

.wrapper h3 {
  font-size: 1.75em;
}

.wrapper h4 {
  font-size: 1.5em;
}

.wrapper h5 {
  font-size: 1.25em;
}

.wrapper h6 {
  font-size: 1em;
}

.wrapper p {
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

.wrapper small, 
.wrapper sub, 
.wrapper sup {
  font-size: 75%;
}

.wrapper hr {
  border-color: #1d7484;
}

.wrapper a {
  text-decoration: none;
  color: #1d7484;
}
.wrapper a:visited {
  color: #144f5a;
}
.wrapper a:hover {
  color: #982c61;
  border-bottom: 2px solid #4a4a4a;
}

.wrapper ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

.wrapper li {
  margin-bottom: 0.4em;
}

.wrapper blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid #1d7484;
  margin-bottom: 2.5rem;
  background-color: #f1f1f1;
}

.wrapper blockquote p {
  margin-bottom: 0;
}

.wrapper img, 
.wrapper video {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

/* Pre and Code */
.wrapper pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-size: 0.9em;
}

.wrapper code, 
.wrapper kbd, 
.wrapper samp {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}

.wrapper pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}

/* Tables */
.wrapper table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.wrapper td, 
.wrapper th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}

/* Buttons, forms and input */
.wrapper input, 
.wrapper textarea {
  border: 1px solid #4a4a4a;
}
.wrapper input:focus, 
.wrapper textarea:focus {
  border: 1px solid #1d7484;
}

.wrapper textarea {
  width: 100%;
}

.wrapper .button, 
.wrapper button,
.wrapper input[type=submit],
.wrapper input[type=reset],
.wrapper input[type=button],
.wrapper input[type=file]::file-selector-button {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #1d7484;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #1d7484;
  cursor: pointer;
  box-sizing: border-box;
}
.wrapper .button:hover, 
.wrapper button:hover,
.wrapper input[type=submit]:hover,
.wrapper input[type=reset]:hover,
.wrapper input[type=button]:hover,
.wrapper input[type=file]::file-selector-button:hover {
  background-color: #982c61;
  color: #f9f9f9;
  outline: 0;
}

.wrapper .button[disabled], 
.wrapper button[disabled],
.wrapper input[type=submit][disabled],
.wrapper input[type=reset][disabled],
.wrapper input[type=button][disabled],
.wrapper input[type=file][disabled] {
  cursor: default;
  opacity: 0.5;
}
.wrapper .button:focus-visible, 
.wrapper button:focus-visible,
.wrapper input[type=submit]:focus-visible,
.wrapper input[type=reset]:focus-visible,
.wrapper input[type=button]:focus-visible,
.wrapper input[type=file]:focus-visible {
  outline-style: solid;
  outline-width: 2px;
}

.wrapper textarea, 
.wrapper select, 
.wrapper input {
  color: #4a4a4a;
  padding: 6px 10px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
.wrapper textarea:focus, 
.wrapper select:focus, 
.wrapper input:focus {
  border: 1px solid #1d7484;
  outline: 0;
}

.wrapper input[type=checkbox]:focus {
  outline: 1px dotted #1d7484;
}

.wrapper label, 
.wrapper legend, 
.wrapper fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
